.desktop-header {
  display: none;
}

.landing-image .name {
  display: none;
}

.landing-image {
  margin: 0;
  height: 100vh;
  background-position: right bottom;
  background-attachment: scroll;
  
}
/* CSS specific to iOS devices */ 
/* @supports (-webkit-touch-callout: none) {
  
  .landing-image {
    background-size: 50%;
  }
} */

.main-content {
  margin-left: 10vw;
  width: 80vw;
  font-size: 14px;
  padding-top: 10vh;
}

/* This element should be fixed to the top of the mobile screen */
/* Currently doesn't work in chrome dev tools */
.mobile-banner {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  text-align: right;
  padding: 1vh 0;
  background-color: #fff;
  width: 100vw;
  height: 5vh;
}

.mobile-banner h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  margin-top: 0.25vh;
  margin-bottom: 0.25vh;
}

.title {
  margin-right: 10vw;
}

.small-nav {
  display: none;
  font-size: 1.5rem;
  transform: none;
  background-color: #fff;
  font-size: 1.2rem;
  font-family: "Playfair Display", serif;
  padding: 6px;
  border: 2px solid #000;
  transition: none;
}

.small-nav > a {
  padding: 0.2rem 0;
}

.small-nav a:hover {
  color: rgb(46, 102, 176);
}

.small-nav.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: visible;
  opacity: 1;
  position: fixed;
  top: 5.5vh;
  left: 2vw;
}

.small-nav a {
  font-size: 1.1rem;
}

/* Selectors to animate the hamburger button */

.hamburger-button {
  position: absolute;
  top: 2vh;
  left: 2vw;
}

.single-stripe {
  position: relative;
  width: 40px;
  height: 30px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.single-stripe span {
  position: absolute;
  height: 3px;
  width: 100%;
  background: #000;
  border-radius: 10px;
  display: block;
  opacity: 1;
  left: 5vw;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.single-stripe span:nth-child(1) {
  top: 0;
}

.single-stripe span:nth-child(2) {
  top: 10px;
}
.single-stripe span:nth-child(3) {
  top: 20px;
}

.single-stripe.animate span:nth-child(1) {
  top: 10px;
  transform: rotate(135deg);
}

.single-stripe.animate span:nth-child(2) {
  opacity: 0;
  left: -20px;
}

.single-stripe.animate span:nth-child(3) {
  top: 10px;
  transform: rotate(-135deg);
}

img.icons {
  width: 2ch;
}

hr {
  display: none;
}

/********************************
*          Resume               *
********************************/

.bio {
  flex-direction: column;
  align-items: flex-start;
}

img.rounded {
  margin: auto;
}

/********************************
*          Portfolio            *
********************************/

.current-slide {
  width: 80vw;
  background-position: center;
}

.caption {
  width: 80vw;
  font-size: 0.7rem;
}

.thumbnails img {
  width: 19vw;
}

/********************************
*          Music                *
********************************/

#music {
  flex-direction: column;
}

.media {
  width: 80vw;
}

.contact-form {
  width: 80vw;
}

.contact-form #submit {
  width: 25vw;
}




footer {
  margin: 0;
}
