@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@200;400;900&family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/********************************
*          Global               *
********************************/

html,
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  font-size: 2rem;
  color: #000;
  text-decoration: none;
  padding-left: 1.5ch;
}

a:hover {
  color: rgb(46, 102, 176);
}

a:active {
  color: rgb(46, 102, 176);
}

#current {
  color: rgb(46, 102, 176);
}

.main-content {
  margin-bottom: 5vh;
  margin-left: 20vw;
  margin-right: 0;
  padding-right: 0;
  width: 60vw;
  font-size: 15px;
}

.main-content h1 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

hr {
  margin-top: 250px;
  margin-bottom: 250px;
  width: 60vw;
}

/********************************
*          Landing Page         *
********************************/

.desktop-header {
  padding: 2vh 5vw 0 5vw;
  background-color: #fff;
  height: 25vh;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.mobile-banner {
  display: none;
}

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 2rem;
}

.header-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.header-nav {
  text-decoration: none;
  padding-right: 5vw;
  padding-bottom: 1.4vw;
}

/* Media query to control responsive display */
@media (max-width: 1000px) {
  .header-top {
    display: block;
    position: absolute;
    top: 2.8vh;
    right: 5vh;
  }

  .header-bottom .header-nav {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  #first-name {
    align-self: flex-end;
  }
}

.name {
  font-family: "Bebas Neue", sans-serif;
  font-size: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#first-name {
  color: rgb(46, 102, 176);
}

#last-name {
  color: #fff;
}

.landing-image {
  padding: 1vw 5vw 0 0;
  background-image: url("../img/background2.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 75vh;
  margin-bottom: 250px;
}

.no-content {
  /* height: 80vh; */
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.no-content > a {
  margin: 0;
  font-size: 10rem;
  color: white;
  font-family: "Open Sans", sans-serif;
  transform: rotate(90deg) translateX(50%);
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/********************************
* Sidebar Nav for Large Display *
********************************/

.small-nav {
  position: fixed;
  left: 2vw;
  top: 3.5vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}

.small-nav.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.small-nav > a {
  font-size: 1.5rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

/********************************
*          Resume               *
********************************/

.bio {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-bottom: 0;
  padding-bottom: 0;
}

.bio a {
  font-size: 15px;
  padding: 0;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

img.icons {
  padding-right: 2ch;
  width: 1.8rem;
}

#github:hover {
  content: url(../img/icons/github-blue.png);
}

#linkedin:hover {
  content: url(../img/icons/linkedin-blue.png);
}

#lastfm:hover {
  content: url(../img/icons/lastfm-blue.png);
}

#twitter:hover {
  content: url(../img/icons/twitter-blue.png);
}

.skills {
  margin-top: 0;
}

.skill-green {
  background-color: rgba(144, 238, 144, 0.5);
  padding: 0.2rem 0.4rem;
  border-radius: 8px;
}

.skill-yellow {
  background-color: rgba(255, 255, 0, 0.5);
  padding: 0.2rem 0.4rem;
  border-radius: 8px;
}

.skill-blue {
  background-color: rgba(71, 137, 222, 0.5);
  padding: 0.2rem 0.4rem;
  border-radius: 8px;
}

img.rounded {
  height: 200px;
  width: 200px;
  margin: 2rem 0 0 5rem;
  border-radius: 50%;
  object-fit: cover;
}

/********************************
*          Portfolio            *
********************************/

.gallery {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}

.gallery a {
  margin: 0;
  padding: 0;
}

.current-slide {
  background-image: url(../img/portfolio/blanka.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 60vw; /* Width must be set so that div displays on initial load */
  height: 40vh;
}

.caption {
  width: 60vw;
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 1.5ch 0;
}

.thumbnails {
  display: flex;
  flex-direction: column;
}

.thumnails > * {
  flex-direction: row;
}

.thumbnails img {
  width: 14.5vw;
  opacity: 0.5;
  cursor: pointer;
}

#portfolio img:hover {
  opacity: 1;
}

/********************************
*          Music                *
********************************/

#music {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.music-header {
  text-align: justify;
  padding-right: 5vw;
}

.media {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.spotify iframe {
  border: 1px solid #000;
  height: 280px;
}

.youtube-container {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
}

.youtube-container iframe,
.youtube-container object,
.youtube-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/********************************
*          Contact              *
********************************/

.contact-form {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.contact-form #submit {
  width: 5vw;
  margin-top: 2vh;
}



/********************************
*          Footer               *
********************************/
footer {
  height: 10vh;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  background-color: #000;
  margin-top: 250px;
  color: white;
  padding-top: 2vh;
  text-align: center;
}

footer a {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: white;
  text-decoration: underline;
  margin: 0;
  padding: 0;
}